<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Insta Name Generator</title>
  <link rel="stylesheet" href="styles/main.css">
  <link rel="icon" href="styles/instagram.png" type="image/x-icon" />
</head>

<body>
  <main>