<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Insta Name Generator</title>
  <link rel="stylesheet" href="styles/main.css">
  <!--fav icon-->
  <link rel="icon" href="styles/instagram.png" type="image/x-icon" />
  <!-- Open Graph meta tags -->
  <meta property="og:title" content="Insta Name Generator" />
  <meta
  property="og:description"
  content="The Insta Name Generator is a simple, web-based application that helps users generate random Instagram usernames."/>
  <meta property="og:url" content="https://insta-name-generator-2bd08e87d766.herokuapp.com/" />
  <meta
  property="og:image"
  content="https://insta-name-generator-2bd08e87d766.herokuapp.com/styles/instagram.png"/>
</head>

<body>
  <main>